@charset "UTF-8";
/* CSS Document for Uncle John's Cider Mill photo story October 2020 */

/* General format */
body {
	margin: 0em;
	padding: 0em;
	border: 0em;
	font-family: 'Lora', serif;
	font-size: 18px;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

hr {
	max-width: 35%;
	border: none;
	border-top: solid 1px #E5E5E5;
	margin-top: 2em;
	margin-bottom: 2em;
}

h1 {
	font-family: 'Playfair Display', serif;
	color: white;
	font-size: 4em;
	text-shadow: 5px 5px 10px black;	
}

a {
	color: #d6483d;
}

a:hover {
	opacity: 70%;
}

p{
	text-align: center;
}


/* Header formatting */
/*.opening-card {
	background: url(https://snworksceo.imgix.net/tsn/638ed3e2-1283-4c83-b18a-0e40d8544b3f.sized-1000x1000.jpg?) top center/cover no-repeat;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}*/

.the-state-news {
	position: absolute;
	width: 9em;
	height: auto;
	top: 1em;
	left: 1.5em;
	margin: 0em;
}

.the-state-news:hover {
	opacity: 70%;
}

.social {
	display: flex;
	align-items: center;
	position: absolute;
	top: 1em;
	right: 1.5em;
}

.facebook {
	width: 1em;
	height: auto;
	padding-right: 1em;
}

.twitter {
	width: 1.25em;
	height: auto;
	padding-right: 1em;
}

.email {
	width: 1em;
	height: auto;
	padding-right: 1em;
}

.facebook .twitter .email:hover {
	opacity: 70%;
}

aside {
	background: url(https://snworksceo.imgix.net/tsn/638ed3e2-1283-4c83-b18a-0e40d8544b3f.sized-1000x1000.jpg?) center center/cover no-repeat;
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headline {
	text-align: center;
	margin: 0em 2.5em;
	opacity: 0;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-delay: 0.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-name: fadeIn;
}

.byline {
	text-align: center;
	color: #6F6F6F;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: .8em;
	margin: 5em 30em 0em 30em;
}

.byline-link {
	color: #6F6F6F;
}

/* Main body formatting */

.intro-text {
	padding: 2em 11em;
	font-size: 1.4em;
}

.container {
	display: flex;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
}

.text-left {
	width: 50%;
	text-align: left;
	padding-left: 3em;
}

.text-right {
	width: 50%;
	text-align: left;
	padding-right: 3em;
}

.text-center {
	margin: 0em 15em;
}

.photo-item {
	width: 40em;
	height: auto;
	padding: 0em 2em;
}

.photo-item-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.photo-item-vertical {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.credit {
	font-style: italic;
	font-size: .75em;
	color: #6F6F6F;
	text-align: right;
}

.credit-center {
	font-style: italic;
	font-size: .75em;
	color: #6F6F6F;
	text-align: center;
}


/* Footer formatting */
footer {
	font-size: .8em;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	text-align: center;
	margin-top: 2em;
	padding: .5em;
}

/* Keyframes */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* Media queries */

@media screen and (max-width: 1200px) {
	
	h1 {
		font-size: 2.5em;
	}
	
	.photo-item {
		width: 40em;
	}	
}

@media screen and (max-width: 1030px) {
	
	.headline {
		top: 15%;
	}
	.byline {
		top: 40%;
		font-size: .7em;
	}
}

@media screen and (max-width: 1068px) {
	
	.byline {
		font-size: .7em;
	}
}

/* Media query for 1000px */
@media screen and (max-width: 1000px) {
	
	h1 {
		font-size: 2em;
	}
	
	.intro-text {
		font-size: 1em;
	}
	
	.text-left {
		font-size: .75em;
	}
	
	.text-right {
		font-size: .75em;
	}
	
	.photo-item {
		width: 30em;
	}
	
	.last-text {
		font-size: .75em;
	}
	
	footer {
		font-size: .75em;
	}
}

/* Media query for 950px */
@media screen and (max-width: 950px) {
	
	.headline {
		top: 30%;
	}
	
}

/* Media query for 768px, tablet size */
@media screen and (max-width: 768px) {

	.the-state-news {
		width: 8em;
	}

	.facebook {
		width: 1em;
	}

	.twitter {
		width: 1.25em;
	}

	.email {
		width: 1em;
	}

	.headline {
		margin: 0em 1.75em;
		font-size: 3em;
		top: 35%;
	}

	.byline {
		margin: 5em 0em 0em 0em;
	}
	
	.intro-text {
		font-size: .9em;
		padding: 1em 2em;
	}
	
	.photo-item {
		width: 25em;
	}
	
	.text-center {
		margin: 0em 3em;
		font-size: .8em;
	}
	
	.last-text {
		margin-top: 0em;
		font-size: .8em;
	}
	
	footer {
		font-size: .75em;
	}
}

/* Media query for 576px, start of mobile size */
@media screen and (max-width: 576px) {

	.headline {
		margin: 0em 1em;
		top: 45%;
		font-size: 2em;
	}
	
	.byline {
		font-size: .9em;
		margin: 4em 2em 0em 2em;
	}
	
	.intro-text {
		padding: 2em 2em 1em 2em;
		font-size: 1.4em;
	}
	
	.container {
		width: 100%;
		flex-direction: column;
		margin: 0em;
		padding: 0em;
		align-items: center;
		justify-content: center;
	}
	
	.text-left {
		text-align: center;
		margin: 0em;
		padding: 0em;
		padding-bottom: 1em;
		width: 70%;
		font-size: 1em;
	}

	.text-right {
		text-align: center;
		margin: 0em;
		padding: 0em;
		padding-top: 1em;
		width: 70%;
		font-size: 1em;
	}
	
	.text-center {
		font-size: 1em;
	}

	.photo-item {
		width: 25em;
	}
	
	.photo-item-center {
		width: 25em;
	}


	footer {
		font-size: .75em;
	}
	
}

@media screen and (max-width: 550px) {
	.headline {
		top: 35%;
		font-size: 3em;
	}
	
	.intro-text {
/*		padding: 1.5em 1.5em .5em 1.5em;*/
		
	}
	
	.text-left {
		width: 90%;
	}

	.text-right {
		width: 90%;
	}

	.photo-item {
		width: 25em;
	}
	
	.last-text {
		margin: 0em 2em 4em 2em;
	}


	footer {
		font-size: .75em;
	}
	
}

@media screen and (max-width: 450px) {
	.headline {
		top: 20%;
	}
	
	.intro-text {
		font-size: 1.25em;
	}
	
	.text-left {
		font-size: .9em;
	}
	
	.text-right {
		font-size: .9em;
	}
	
	.text-center {
		font-size: .9em;
	}
	
	.photo-item {
		width: 18em;
	}
	
	.photo-item-center {
		width: 18em;
	}
}

@media screen and (max-width: 350px) {
	.headline {
		font-size: 2em;
	}
	
	.intro-text {
		font-size: 1em;
	}
	
	.text-left {
		font-size: .75em;
	}
	
	.text-right {
		font-size: .75em;
	}
	
	.text-center {
		font-size: .75em;
	}
	
	.photo-item {
		width: 15em;
	}
	
	.photo-item-center {
		width: 15em;
	}
}

